.hint-container {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 220px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.hint {
    font-size: 14pt;
}

.hint-title {
    font-size: 20pt;
    margin-bottom: 5px;
}