@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.container {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    color: white;
  }
  
  .container a {
    color: #333;
    text-decoration: none;
    color: white;

  }

  .container {
    display: flex;
    align-items: center;
  }

  .branded-button{
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    cursor: pointer;
    font-size: 1em;
    border-color: #fff;
    color: #fff;
    margin-left: 10px;
  }
  .branded-button:hover {
    background-color: #FFF;
    -webkit-text-fill-color: #3a0ca3;
    border-color: #fff;
    transition: background-color 0.3s;
  }
