.practice-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within the container */
}


.question-text {
    font-size: 26pt;

}

.answer-choices {
    display: flex;
    flex-direction: column;
}

.answer-choice-btn {
    width: 100px;
}