.question-container {
    display: flex;
    flex-direction: column;
}


.question-txt {
    font-size: 18pt;
}

.answer-choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.answer-choice-btn {
    width: 200px;
    margin: 2px;
    padding: 5px 7px;
}

.answer-choice-btn:hover {
    color: green;
}