@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.module-title1{
    color: white;
    font-family: JetBrains Mono;

}

.module-title {
    color: black;
}

.module-list {
    display: flex;
    flex-direction: column;
}

.module-component {
    background-color: white;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-right: auto; 
    margin-top: 10px;
    border-radius: 30px;
    font-family: JetBrains Mono;
    margin-left: auto;
    justify-content: space-between; 
    padding: 15px;
    align-items: center;
}

.module-component button{
    font-family: JetBrains Mono;
    width: 100px;
    border-radius: 30px;
    margin-right: 10px;
}

.test-all-btn {
    font-family: JetBrains Mono;
    width: 150px;
    border-radius: 30px;
    margin-right: 10px;
}

.all-btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
    margin-right: 20px;
}

.practice-all-btn {
    font-family: JetBrains Mono;
    width: 150px;
    border-radius: 30px;
    margin-right: 10px;
}

