.forgot-password {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 30px;
    width: 340pt;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.reset-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: JetBrains Mono;
    flex-direction: row;
}

input {
    width: 250px;
    margin-right: 10px;
}

.forgot-password-input {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.reset-text {
  padding-left: 15px;
}

.fp-extras {
  display: flex;
  justify-content: center;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin-bottom: 10px;
}

.fp-long-button {
  margin-bottom: 15px;
}

.fp-form {
  padding-left: 20px;
}