.forgot-password {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 30px;
    width: 340pt;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: flex-start ;
    align-items: center;
}

.reset-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: JetBrains Mono;
    flex-direction: row;
}

h3 {
    color: black;
    align-self: flex-start;
    font-family: JetBrains Mono;
}

.email-label {
    margin-right: 10px;
    font-family: JetBrains Mono;
    margin-top: 10px;
}

.reset-password {
    width: 100px;
    margin-bottom: 20px; 
    border-radius: 30px;
    font-family: JetBrains Mono;
}

input {
    width: 250px;
    margin-right: 10px;
}