.path {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding: 10px;
}

.learn-container {
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    width: 60%; 
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    margin: auto;
}

.video-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.link-container {
    display: flex;
    flex-direction: column;
}

a {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding: 3px;
}

a:hover {
    color: blue;
}