@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.login {
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 30px;
    border-radius: 30px;
}

.login h3 {
    display: flex;
    align-self: flex-start ;
    margin-left: 100px;
    font-family: JetBrains Mono;
}

.login label {
    display: flex;
    align-self: flex-start ;
    margin-left: 100px;
    font-family: JetBrains Mono;
    margin-top: 10px;
}

.login input {
    width: 400px;
    height: 30px;
    align-self: center;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    background: #D9D9D9;
    border-radius: 30px;
    border-color: white;
    font-family: JetBrains Mono;
    text-align: left;
    padding-left: 10px;

}


.login button {
    width: 300px;
    align-self: center;
    margin-bottom: 20px; 
    border-radius: 30px;
    font-family: JetBrains Mono;
}
