@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.login {
    padding-top: 20px;
    background-color: white;
    width: 600px;
    height: 365px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 200px;
    border-radius: 30px;
}

.login label {
    align-self: flex-start ;
    margin-left: 100px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-top: 10px;
}

.login-extras {
  display: flex;
  justify-content: center;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin-top: 10px;
}
.link-text:hover {
  color:rgb(42, 69, 164);
}

.branded-input {
    width: 400px;
    height: 30px;
    align-self: center;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    background: #D9D9D9;
    border-radius: 30px;
    border-color: white;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    text-align: left;
    padding-left: 10px;
}

.branded-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.branded-text {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.branded-header {
  display: flex;
  align-self: center;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.branded-long-button {
    background: lightgray;
    border: 2px solid lightgray;
    width: 250px;
    height: 30px;
    border: none;
    align-self: center;
    margin-bottom: 20px; 
    border-radius: 10px;
    color: #000;
    font-weight: 700;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    transition: border-radius 0.4s, background-color 0.4s;
}

.branded-long-button:hover {
  border-radius: 30px;
  background-color: #3a0ca3;
  border: 2px solid #3a0ca3;;
  -webkit-text-fill-color: #fff;
}

.branded-long-button.clicked {
  background-color: #3a0ca3;
  border: 2px solid #3a0ca3;
  border-radius: 30px;
  -webkit-text-fill-color: #fff;
}

.error {
  color: red;
  text-align: center;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}