@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.path {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding: 10px;
}

.container-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.practice-div {
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    width: 50%; 
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    height: 65vh;
} 

.practice-box {
    display: flex;
    justify-content: space-evenly;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    height: 65vh;
}

.practice-content {
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px; 
    margin-bottom: 10px; 
    width: 100%;
}

.hint-boxxx {
    background-color: white;
    border-radius: 30px;
    display: flex;
    padding: 20px; 
    margin-top: 80px;
    margin-right: 40px;
    height: auto;
}

.random-question-content {
    display: flex;
    padding: 5px 10px; 
    margin-bottom: 10px; 
}

.button-container-back-next {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.hint-btn-container {
    display: flex;
    position: relative;
    padding-bottom: 25px;
}

.back-btn {
    width: 100px;
}

.next-btn {
    width: 100px;
}

.hint-btn {
    width: 150px;
    position: absolute;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
}

.question-num {
    color: black;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}


