@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.path {
    font-family: JetBrains Mono;
    padding: 10px;
}

.practice-div {
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    width: 60%; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: 60vh;
}

.practice-content {
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px; 
    margin-bottom: 10px; 
}

.button-container-back-next {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.hint-btn-container {
    position: relative;

}

.back-btn {
    font-family: JetBrains Mono;
    width: 100px;
}

.next-btn {
    font-family: JetBrains Mono;
    width: 100px;
}

.hint-btn {
    font-family: JetBrains Mono;
    width: 150px;
    position: absolute;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
}

.question-num {
    font-family: JetBrains Mono;
    color: black;
}


