@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

.path {
    font-family: JetBrains Mono;
    padding: 10px;
}

.practice-div {
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    width: 60%; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: 60vh;
}

.practice-content {
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    margin-bottom: 10px; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




