@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
  
  .path {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }
  .question-header-div {
    background-color: #000;
  }
  .question-header {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding-left: 200px;
    color: white;
  }

  .test-div {
    display: flex;
    justify-content: space-evenly;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    height: 65vh;
  }
  
  .question-div {
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    width: 50%; 
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    height: 65vh;
  }

  .question-content {
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px; 
    margin-bottom: 10px; 
  }

  .test-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  .test-back-btn {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    width: 100px;
  }

  .test-next-btn {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    width: 100px;
  }