@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
  
  .path {
    font-family: JetBrains Mono;
    color: white;
  }

  h3 {
    font-family: JetBrains Mono;
    color: white;
  }

  .test-div {
    display: flex;
    flex-direction: row;
    font-family: JetBrains Mono;
    height: 70vh;
  }

  .question-list {
    flex: 1; /* Adjust the width as needed */
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
  }

  li {
    padding: 5px;
    color: white;
  }

  ul {
    list-style: none;
  }

  .question-link:hover {
    color: green; /* Change the color as needed */
  }


  .question-link {
    color: white; /* Change the color as needed */
    text-decoration: none; /* Remove underline */
  }
  

  .question-div {
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    width: 60%; 
    display: flex;
    margin-left: auto;
    margin-right: 30px;
    flex-direction: column;
    height: 60vh;
  }

  .question-content {
    background-color: white;
    border-radius: 30px;
    padding: 20px; 
    margin-bottom: 10px; 
  }

  .test-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  .test-back-btn {
    font-family: JetBrains Mono;
    width: 100px;
  }

  .test-next-btn {
    font-family: JetBrains Mono;
    width: 100px;
  }